/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} */

:root{
    --bg-color: #0099ff;
    --text-color: #fff;
    --main-color: #0099ff;
}
header{
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background: transparent;
    /* padding: 0px 12%; */
    transition: all .50s ease;
    background-color: #184FB1;
}
.logoLink{
    text-decoration: none;
    gap: 10px;
}


.logoIcon{
    height: 30px;
    width: 60px;
    margin-left:25px;
}
span.logoText{
   color: white;
   font-size: 1.5rem;
   font-weight: 500;

}


.navbar{
    display: flex;
}
.navbar ul{
    gap: 50px;
}

li{
    list-style: none;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 5px;
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none;
    
}
.navbar.active{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

li a:hover{
    text-decoration: underline;
   
}

.navbar a.active{
    /* padding: 10px;
    font-size: 1.1rem;
    font-weight: 500; */
}

.main{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-family: inherit;
}


.main a{
    /* margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease; */
    text-decoration: none;
}

/* .user{
    display: flex;
    align-items: center;
} */

.userIcon{
    /* color: white; */
    font-size: 28px;
    margin-right: 7px;
}

/* .main a:hover{
     background-color: white; 
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
} */

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}


/* General button styles */
/* button, */
 button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
.userBtn{
    color: var(--text-color);
    background: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: center;
}
.registerBtn {
    color: var(--text-color);
    background: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: center;
    text-decoration: none;
    
}

.username{
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}


/* Hover effect */
.registerBtn:hover,.userBtn:hover {
    background: var(--text-color);
    color: var(--main-color);
    
}
.logoutBtn:hover{
    color: #ff0000;
}

/* PROFILE */
.profile {
  position: relative;
}

.profileBox {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  background: #f9f9f9;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  overflow: hidden;
}

.dropdown a,
.dropdown button {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: none;
  background: white;
  text-align: left;
  cursor: pointer;
}

.dropdown a:hover,
.dropdown button:hover {
  background: #f5f5f5;
 
}
.logoutBtn{
  font-weight: bolder;
  background-color: #ff0000;
}



@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
   #menu-icon{
    display: block;
   }
   .navbar{
    display: none;
   }

   .navbar.active{
    position: absolute;
    top: 70%;
    right: 0;
    width: 100%;
    height: max-content;
    background: #005c99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 0px 10px;
    transition: all .50s ease;
   }
   .navbar a{
    display: block;
    /* margin: 12px 0; */
    padding: 0px 25px;
    transition: all .50s ease;
    
   }
   .nav a:hover{
    padding-left: 0px;
    color: var(--text-color);
    text-decoration: underline;
    transform: translateY(5px);
   }
   .navbar a.active{
    color: var(--text-color);
   }
   .logo{
    display: flex;
    align-items: center;
   }
   img.logoIcon{
    left: 0px
   }

   span.logoText{
    font-weight: bold;
    font-size: medium;
    display: none;
   }

   .userBtn{
    font-weight: 400;
    font-size: small;
   }

}

